[user]
	name = Fredrik Löfgren
	email = fr3drik.l@gmail.com
[push]
	default = simple
	followTags = true
[pull]
	ff = only
[color]
	ui = auto
[color "branch"]
	current = green reverse
	local = green
	remote = yellow
[diff]
	tool = diffmerge
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	fb = checkout -b
	lg = log --color --graph --pretty=format:'%C(yellow)%h%Creset -%C(magenta)%d%Creset %C(cyan)%s%Creset (%cr) %Cgreen%aN%Creset' --abbrev-commit --branches
	lgp = log --color --pretty=format:'%C(yellow)%h%Creset -%Cgreen%d%Creset %s - %C(magenta)%aN%Creset' --abbrev-commit
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy | less --tabs=4 -RFX; }; f"
	showf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git show --color \"$@\" | diff-so-fancy | less --tabs=4 -RFX; }; f"
	start = !git init && git commit --allow-empty -m \"chore(repo): root commit\"
	file = "showf --pretty="" --name-status"
	gone = ! "git fetch --all -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs git branch -D"
[core]
	editor = nano
	excludesfile = /Users/lofgrenfredrik/.gitignore_global
	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false
[rerere]
	enabled = true
[credential]
	helper = osxkeychain
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/Repos/weahead_repos/"]
    path = ~/Repos/weahead_repos/.gitconfig
